<h1>Editing auditor report</h1>

<%= render "form", auditor_report: @auditor_report %>

<br>

<div>
  <%= link_to "Show this auditor report", @auditor_report %> |
  <%= link_to "Back to auditor reports", auditor_reports_path %>
</div>
