<h1>Editing cash flow</h1>

<%= render "form", cash_flow: @cash_flow %>

<br>

<div>
  <%= link_to "Show this cash flow", @cash_flow %> |
  <%= link_to "Back to cash flows", cash_flows_path %>
</div>
