<h1>New profit and loss account</h1>

<%= render "form", profit_and_loss_account: @profit_and_loss_account %>

<br>

<div>
  <%= link_to "Back to profit and loss accounts", profit_and_loss_accounts_path %>
</div>
