<h1>Editing balance sheet</h1>

<%= render "form", balance_sheet: @balance_sheet %>

<br>

<div>
  <%= link_to "Show this balance sheet", @balance_sheet %> |
  <%= link_to "Back to balance sheets", balance_sheets_path %>
</div>
