<h1>Editing director report</h1>

<%= render "form", director_report: @director_report %>

<br>

<div>
  <%= link_to "Show this director report", @director_report %> |
  <%= link_to "Back to director reports", director_reports_path %>
</div>
